<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.promotion.ActivityMapper">

    <insert id="insertActivity" parameterType="com.example.cinema.po.Activity" useGeneratedKeys="true" keyProperty="id">
        insert into activity(name, description, startTime, endTime, couponId)
        values (#{name}, #{description}, #{startTime}, #{endTime}, #{couponId})
    </insert>

    <select id="selectActivityMovie" resultType="Integer">
        select movieId from activityMovie where activityId = #{activityId}
    </select>

    <insert id="insertActivityMovie" parameterType="java.util.List">
        insert into activityMovie(activityId, movieId)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.activityId}, #{item.movieId})
        </foreach>
    </insert>

    <select id="selectAllActivity" resultType="com.example.cinema.po.Activity">
        select * from activity
    </select>

    <select id="selectMovieActivity" resultType="com.example.cinema.po.Activity">
        select activity.*
        from activity, activityMovie
        where activityMovie.activityId = activity.id and activityMovie.movieId in (-1, #{movieID}) and
            activity.startTime &lt; Now() and activity.endTime &gt; Now()
    </select>
</mapper>