<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.promotion.CouponMapper">

    <insert id="insertCoupon" parameterType="com.example.cinema.po.Coupon">
        insert into coupon(name, description, targetAmount, discountAmount, startTime, endTime)
        values(#{name}, #{description}, #{targetAmount}, #{discountAmount}, #{startTime}, #{endTime})
    </insert>

    <insert id="insertCouponUser">
        insert into couponUser(couponId, userId)
        values(#{couponId}, #{userId})
    </insert>

    <delete id="deleteCouponUser">
        delete from couponUser
        where couponId = #{couponId} and userId = #{userId}
        limit 1
    </delete>

    <select id="selectAllCoupon" resultType="com.example.cinema.po.Coupon">
        select * from coupon
    </select>

    <select id="selectCouponById" resultType="com.example.cinema.po.Coupon">
        select * from coupon where id = #{id}
    </select>

    <select id="selectCouponByUserId" resultType="com.example.cinema.po.Coupon">
        select * from coupon, couponUser
        where coupon.id = couponUser.couponId and couponUser.userId = #{userId} and
            coupon.startTime &lt; Now() and coupon.endTime &gt; Now()
    </select>

    <select id="selectCouponByOrderId" resultType="com.example.cinema.po.Coupon">
        select * from coupon, couponUser, `order`
        where coupon.id = couponUser.couponId and couponUser.userId = `order`.userId and
            `order`.id = #{orderId} and coupon.startTime &lt; Now() and coupon.endTime &gt; Now() and
              `order`.price >= coupon.targetAmount
    </select>

    <select id="selectCouponByUserAndAmount" resultType="com.example.cinema.po.Coupon">
        select * from coupon, couponUser
        where coupon.id = couponUser.couponId and couponUser.userId = #{userId} and
            coupon.startTime &lt; Now() and coupon.endTime &gt; Now() and coupon.targetAmount &lt; #{amount}
    </select>
</mapper>