<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.user.AccountMapper">
    <insert id="createNewAccount" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password)
        values(#{username},#{password})
    </insert>

    <select id="getAccountByName" resultType="com.example.cinema.po.User">
        select * from user where username=#{username}
    </select>

    <insert id="insertManager" parameterType="com.example.cinema.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(username, password, role)
        values(#{username}, #{password}, #{role})
    </insert>

    <update id="updateManager" parameterType="com.example.cinema.po.User">
        update user
        set username = #{username},
            password = #{password}
        where id = #{id}
    </update>

    <delete id="deleteManager" parameterType="com.example.cinema.po.User">
        delete from user
        where id = #{id}
    </delete>

    <select id="selectManager" resultType="com.example.cinema.po.User">
        select * from user where role = 1
    </select>
</mapper>