<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.management.MovieMapper">

    <insert id="insert" parameterType="com.example.cinema.po.Movie" useGeneratedKeys="true" keyProperty="id">
        insert into movie(name, posterUrl, type, country, language, length, startDate, description, status)
        values(#{name}, #{posterUrl}, #{type}, #{country}, #{language}, #{length}, #{startDate}, #{description}, #{status})
    </insert>

    <update id="update" parameterType="com.example.cinema.po.Movie">
        update movie set posterUrl = #{posterUrl}, type = #{type}, country = #{country}, language = #{language},
                         length = #{length}, startDate = #{startDate}, name = #{name}, description = #{description}
        where id = #{id}
    </update>

    <update id="delete">
        update movie set status = 1 where id = #{id}
    </update>

    <select id="selectAll" resultType="com.example.cinema.po.Movie">
        select * from movie
    </select>

    <select id="selectById" resultType="com.example.cinema.po.Movie">
        select * from movie where id = #{id}
    </select>

    <select id="selectOn" resultType="com.example.cinema.po.Movie">
        select * from movie where startDate &lt;= Now() and status = 0
        order by startDate desc
    </select>

    <select id="selectOff" resultType="com.example.cinema.po.Movie">
        select * from movie where status = 1
        order by startDate desc
    </select>

    <select id="selectPre" resultType="com.example.cinema.po.Movie">
        select * from movie where startDate &gt; Now() and status = 0
        order by startDate desc
    </select>

    <select id="selectOnAndPre" resultType="com.example.cinema.po.Movie">
        select * from movie where status = 0
        order by startDate desc
    </select>

    <insert id="like">
        insert into movieLike(userId, movieId, time)
        values(#{userId}, #{movieId}, Now())
    </insert>

    <delete id="unlike">
        delete from movieLike where movieId = #{movieId} and userId = #{userId}
    </delete>

    <select id="ifLike" resultType="int">
        select count(*) from movieLike where movieId = #{movieId} and userId = #{userId}
    </select>

    <select id="likeCount" resultType="int">
        select count(*) from movieLike where movieId = #{movieId}
    </select>

    <select id="allLikeCount" resultType="com.example.cinema.po.Movie">
        select movie.*, count(*) as likeCount from movieLike where movieId = #{movieId} and startDate &lt; Now() and status = 0
        order by likeCount desc
    </select>

    <select id="search" resultType="com.example.cinema.po.Movie">
        select * from movie as m where concat(m.name, m.description, m.type, m.type)
                                           like concat('%',#{keyword},'%');
    </select>
</mapper>