<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.management.ScheduleMapper">

    <insert id="insert" parameterType="com.example.cinema.po.Schedule" useGeneratedKeys="true" keyProperty="id">
        insert into schedule(hallId, movieId, startTime, type, fare)
        values(#{hallId}, #{movieId}, #{startTime}, #{type}, #{fare})
    </insert>

    <update id="update" parameterType="com.example.cinema.po.Schedule">
        update schedule set hallId = #{hallId}, movieId = #{movieId}, startTime = #{startTime},
                            type = #{type}, fare = #{fare}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from schedule where id = #{id}
    </delete>

    <select id="select" resultType="com.example.cinema.po.Schedule">
        select * from schedule where id = #{id}
    </select>

    <select id="selectByHallId" resultType="com.example.cinema.po.Schedule">
      select * from schedule where hallId = #{hallId}
    </select>

    <select id="userGet" resultType="com.example.cinema.po.Schedule">
        select * from schedule where movieId = #{movieId}
    </select>

    <insert id="setView">
        update view set day = #{day}
    </insert>

    <select id="getView" resultType="int">
        select day from view
    </select>

    <select id="ifConflict" parameterType="com.example.cinema.po.Schedule" resultType="int">
        delete from schedule where id in
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>